In [9]:
import pandas as pd
df1 = pd.read_csv("data/train_preliminary/lstm1_gender.csv")

In [10]:
df1.head()

   user_id  predicted_gender
0        1            1.2732
1        2            1.4738
2        3            1.6227
3        4            1.5615
4        5            1.1413

In [11]:
df1['predicted_gender']

0         1.2732
1         1.4738
2         1.6227
3         1.5615
4         1.1413
           ...
899995    1.1993
899996    1.3623
899997    1.9556
899998    1.1874
899999    1.2554
Name: predicted_gender, Length: 900000, dtype: float64